<div class="pt-5">
    <div class="d-flex" style="height: 300px;">
        <div class="col-md-6 col-sm-12">
            <div class="clientelle-header">
                <div class="large">Well crafted abstract images</div>
                <div>High quality abstract images for your projects, wallpapers and presentation</div>
                <div>
                    <button class="btn btn-light">Learn more</button>
                    <button class="btn pricing-btn">See pricing</button>
                  </div>
                </div>
        </div>
        <div class="col-md-6 col-sm-12 d-flex justify-content-center" style="height: inherit;">
            <img class="clientele-img" src="assets/images/prism.png" alt="prism">
        </div>

    </div>
    <div class="pt-5 text-center" style="color: gray;">
        Used by clients that you love 
        <div><img width="100%" src="assets\images\clientle.PNG" alt=""></div>
    </div>
</div>